.list{
    .tableCollum{
        font-weight: bold;
      }
      .tablecellType{
        font-weight: bold;
        padding: 10px;
        text-align: center;
        background-color: #f8f8f8; 
        color: #333333; 
        border: 1px solid #ccc;
      }
    .tablecell{
        padding: 15px;
        text-align: center;
        background-color: #f8f8f8; 
        color: #333333; 
        border: 1px solid #ccc;
      }
}