.list{
    display: flex;
    width: 100%;
    .listContainer{
        flex: 6;
    }
    .status {
        padding: 5px;
        border-radius: 5px;
        &.Aprovada {
          color: green;
          background-color: rgba(0, 128, 0, 0.151);
        }
        &.Negada {
          color: red;
          background-color: rgba(255, 150, 150, 0.7);
        }
        &.Pendente {
          color: goldenrod;
          background-color: rgba(189, 189, 3, 0.103);
        }
      }
}